@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --background: #EDF6FF;
  --foreground: #094a71;
  --primary: #2b63ff;
  --light-blue: #79d3ff;
  --dark-blue: #2F2F8A;
  --medium-blue: #5C5CA8;
  --blue-primary: #003BE4;
  --projects-fund: #F0F7FF;
}

.dark {
  --background: #0D1E32;
  --foreground: #e4f4ff;
  --primary: #07a6f0;
  --light-blue: #A8D6FF;
  --dark-blue: #2F2F8A;
  --medium-blue: #5C5CA8;
  --blue-primary: #003BE4;
  --projects-fund: #12233B;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}