@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #EDF6FF;
  --foreground: #094a71;
  --primary: #2b63ff;
  --light-blue: #79d3ff;
  --dark-blue: #2F2F8A;
  --medium-blue: #5C5CA8;
  --blue-primary: #003BE4;
  --projects-fund: #F0F7FF;
}

.dark {
  --background: #0D1E32;
  --foreground: #e4f4ff;
  --primary: #07a6f0;
  --light-blue: #A8D6FF;
  --dark-blue: #2F2F8A;
  --medium-blue: #5C5CA8;
  --blue-primary: #003BE4;
  --projects-fund: #12233B;
}


body {
  background-color: var(--background);
  color: var(--foreground);
}

